<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="header__title col-md-4">
                    <a href="index.html"><h1>Delivery Bot</h1></a>
                </div>
                <div class="header__nav col-md-2 offset-3">
                    <a href="https://t.me/YandexLyceumDeliveryBot">Наш бот</a>
                </div>
                <div class="header__btn col-md-3">
                    <button onclick="window.location='form.html'">Регистрация</button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="products">
                    <div class="product" onclick="window.location='product.html/1'">
                        <div class="product__title">
                            <h2>{{n}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{s}} alt="ошибка загрузки">
                        </div>
                        <div class="product__info">
                            <p>{{o}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/2'">
                        <div class="product__title">
                            <h2>{{nn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{ss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{oo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/3'">
                        <div class="product__title">
                            <h2>{{nnn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{sss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{ooo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/4'">
                        <div class="product__title">
                            <h2>{{nnnn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{ssss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{oooo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/5'">
                        <div class="product__title">
                            <h2>{{nnnnn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{sssss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{ooooo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/6'">
                        <div class="product__title">
                            <h2>{{nnnnnn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{ssssss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{oooooo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/7'">
                        <div class="product__title">
                            <h2>{{nnnnnnn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{sssssss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{ooooooo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/8'">
                        <div class="product__title">
                            <h2>{{nnnnnnnn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{ssssssss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{oooooooo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>
                    </div>
                    <div class="product" onclick="window.location='product.html/9'">
                        <div class="product__title">
                            <h2>{{nnnnnnnnn}}</h2>
                        </div>
                        <div class="product__img">
                            <img src={{sssssssss}} alt="img">
                        </div>
                        <div class="product__info">
                            <p>{{ooooooooo}}</p>
                        </div>
                        <div class="product__btn">
                            <button>MORE</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="footer__title col-md-4">
                    <h2>Delivery Bot</h2>
                </div>
                <div class="footer__text col-md-2 offset-6">
                    <a href="/spravka.html">Справка</a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>

</body>

</html>
